html,
body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}
html .page-chat,
body .page-chat {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background: #fff;
  position: relative;
}
html .page-chat .chat-top,
body .page-chat .chat-top {
  width: 15rem;
  height: 1.9rem;
  background: url("../images/page/weixinTop.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}
html .page-chat .chat-down,
body .page-chat .chat-down {
  width: 15rem;
  height: 2.2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  background: #fff;
  box-shadow: 0 -1px 15px 0px rgba(0, 0, 0, 0.2);
}
html .page-chat .chat-down span,
body .page-chat .chat-down span {
  flex: 1;
  position: relative;
}
html .page-chat .chat-down span:after,
body .page-chat .chat-down span:after {
  content: '';
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../images/page/chat.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
html .page-chat .chat-down span:nth-child(2):after,
body .page-chat .chat-down span:nth-child(2):after {
  background-image: url(../images/page/peoples.png);
}
html .page-chat .chat-down span:nth-child(3):after,
body .page-chat .chat-down span:nth-child(3):after {
  background-image: url(../images/page/peng.png);
}
html .page-chat .chat-down span:nth-child(4):after,
body .page-chat .chat-down span:nth-child(4):after {
  background-image: url(../images/page/set.png);
}
html .page-chat .chat-wrapper,
body .page-chat .chat-wrapper {
  padding-top: .6rem;
  overflow-y: scroll;
}
html .page-chat .chat-list,
body .page-chat .chat-list {
  width: 6.6rem;
}
html .page-chat .chat-list:first-child,
body .page-chat .chat-list:first-child {
  padding-left: .6rem;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
html .page-chat .chat-list:last-child,
body .page-chat .chat-list:last-child {
  padding-right: .6rem;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
html .page-chat .chat-list li,
body .page-chat .chat-list li {
  width: 6.6rem;
  margin-bottom: .6rem;
  float: left;
  padding: .4rem;
  background: #edf4ff;
  border-radius: .2rem;
}
html .page-chat .chat-list li.hong,
body .page-chat .chat-list li.hong {
  position: relative;
}
html .page-chat .chat-list li.hong:after,
body .page-chat .chat-list li.hong:after {
  content: '';
  display: block;
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  width: .6rem;
  height: .6rem;
  background: url("../images/page/red.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  color: #fff;
}
html .page-chat .chat-list li .chat-content,
body .page-chat .chat-list li .chat-content {
  border-bottom: 1px solid #ccc;
}
html .page-chat .chat-list li .chat-content .chat-cont-inner,
body .page-chat .chat-list li .chat-content .chat-cont-inner {
  margin-bottom: .4rem;
  width: 5.8rem;
  line-height: .8rem;
}
html .page-chat .chat-list li .chat-content .chat-cont-inner p,
body .page-chat .chat-list li .chat-content .chat-cont-inner p {
  font-size: .48rem;
  color: #bbb;
  width: 4rem;
  max-height: 1.6rem;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
html .page-chat .chat-list li .chat-content .chat-cont-inner div,
body .page-chat .chat-list li .chat-content .chat-cont-inner div {
  text-align: right;
  font-size: .32rem;
  color: #ccc;
}
html .page-chat .chat-list li .chat-li-down,
body .page-chat .chat-list li .chat-li-down {
  padding-top: .4rem;
}
html .page-chat .chat-list li .chat-li-down .chat-img,
body .page-chat .chat-list li .chat-li-down .chat-img {
  width: 1.6rem;
  height: 1.6rem;
  background: no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  margin-right: .4rem;
  border-radius: .4rem;
}
html .page-chat .chat-list li .chat-li-down .chat-right,
body .page-chat .chat-list li .chat-li-down .chat-right {
  width: 3.8rem;
  height: 1.6rem;
}
html .page-chat .chat-list li .chat-li-down .chat-right h4,
body .page-chat .chat-list li .chat-li-down .chat-right h4 {
  height: 1rem;
  line-height: 1rem;
  font-size: .52rem;
  font-weight: bold;
  color: #333;
}
html .page-chat .chat-list li .chat-li-down .chat-right p,
body .page-chat .chat-list li .chat-li-down .chat-right p {
  height: .6rem;
  line-height: .6rem;
  font-size: .32rem;
  color: #cccccc;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
