html,body{
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  .page-chat{
    width: 100%;
    height: 100%;
    //background: url("../images/page/weixin.jpg") no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    background: #fff;
    position: relative;
    .chat-top{
      width: 15rem;
      height: 1.9rem;
      background: url("../images/page/weixinTop.jpg") no-repeat center;
      -webkit-background-size: cover;
      background-size: cover;
    }
    .chat-down{
      width: 15rem;
      height: 2.2rem;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      background: #fff;
      box-shadow: 0 -1px 15px 0px rgba(0, 0, 0, 0.2);
      span{
        flex: 1;
        position: relative;
        &:after{
          content: '';
          width: 1.6rem;
          height: 1.6rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background: url("../images/page/chat.png") no-repeat center;
          -webkit-background-size: contain;
          background-size: contain;
        }
        &:nth-child(2){
          &:after {
            background-image: url(../images/page/peoples.png);
          }
        }
        &:nth-child(3){
          &:after {
            background-image: url(../images/page/peng.png);
          }
        }
        &:nth-child(4){
          &:after {
            background-image: url(../images/page/set.png);
          }
        }
      }
    }
    .chat-wrapper{
      padding-top: .6rem;
      overflow-y: scroll;
    }
    .chat-list{
      width: 6.6rem;
      &:first-child{
        padding-left: .6rem;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
      }
      &:last-child{
        padding-right:.6rem;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
      }
      li {
        width: 6.6rem;
        margin-bottom: .6rem;
        float: left;
        //height: 2.4rem;
        padding: .4rem;
        background: #edf4ff;
        border-radius: .2rem;
        &.hong{
          position: relative;
          &:after{
            content: '';
            display: block;
            position: absolute;
            top: -.2rem;
            right: -.2rem;
            width: .6rem;
            height: .6rem;
            background: url("../images/page/red.png") no-repeat center;
            -webkit-background-size: contain;
            background-size: contain;
            color: #fff;
          }
        }
        .chat-content{
          border-bottom: 1px solid #ccc;
          .chat-cont-inner{
            margin-bottom: .4rem;
            width: 5.8rem;
            line-height: .8rem;
            p{
              font-size: .48rem;
              color: #bbb;
              width: 4rem;
              max-height: 1.6rem;
              text-align: left;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
            }
            div{
              text-align: right;
              font-size:.32rem;
              color: #ccc;
            }
          }
        }
        .chat-li-down{
          padding-top: .4rem;
          .chat-img{
            width: 1.6rem;
            height: 1.6rem;
            background: no-repeat center;
            -webkit-background-size: contain;
            background-size: contain;
            margin-right: .4rem;
            border-radius: .4rem;
          }
          .chat-right{
            width: 3.8rem;
            height: 1.6rem;
            h4{
              height: 1rem;
              line-height: 1rem;
              font-size: .52rem;
              font-weight: bold;
              color: #333;
            }
            p{
              height: .6rem;
              line-height: .6rem;
              font-size: .32rem;
              color: #cccccc;
            }
          }
        }
      }
    }
  }
}

@keyframes flash {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}